// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


// Mercadolibre
$font-family-base:                  -apple-system, "Helvetica Neue", Arial, sans-serif;
$search-box-font-size:              18px;
$search-box-height:                 56px;
$generic-lg-padding:                32px;
$generic-sm-padding:                $generic-lg-padding / 2;

$article-max-width:                 680px;
$article-title-font-size:           24px;
$article-condition-font-size:       14px;
$article-price-font-size:           46px;
$article-description-title-font-size: 28px;
$article-description-font-size:       16px;

$result-title-font-size:            18px;
$result-price-font-size:            24px;
$result-picture-width:              180px;

// Bootstrap breadcrumb
$breadcrumb-padding-y:              $generic-sm-padding;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0;
$breadcrumb-bg:                     none;
$breadcrumb-divider:                quote("›") !default;
// $breadcrumb-divider-color:          $gray-600 !default;
// $breadcrumb-active-color:           $gray-600 !default;
// $breadcrumb-border-radius:          $border-radius !default;

// Bootstrap grid
$grid-gutter-width:                 $generic-lg-padding;

// Bootstrap base variables
@import "node_modules/bootstrap/scss/variables";
